{% extends 'index.html' %} {% block content %}
<!--
포트폴리오 구성
사이트명: 이름 혹은 닉네임 ( 로고를 만들면 더 좋다 )
들어가야 할 내용
자기 소개: 장황하게 써놓기 보다는 간단한 개발자로서의 좌우명
이력 및 학력: 인턴, 외주, 산학, 수상경력 등
연락처: 이메일, 핸드폰 번호, SNS, Linked in, Github
프로젝트
프로젝트 이름 
기술 스택: 큰 기술 위주 세부적인 라이브러리 수준까지는 기술하지 않아도 된다.
프로젝트 기간
프로젝트 내용: 최대한 자세하게 서술
프로젝트 데모: 사진, 동영상, 웹사이트 형식 웹 프로젝트라면 웹사이트 형식이 가장 좋다.


출처: https://geonlee.tistory.com/9 [빠리의 택시 운전사]
-->
<div class="computer">
	<div class="comTop">
		<div class="comTopLeft"></div>
		<div class="comTopCenter">
			{{time}}
		</div>
		<div class="comTopRight"></div>
	</div>
	<div class="comBackground">
		<div class="htmlContainer">
			<div class="htmlTop">
				<div
					id="htmlE1"
				></div>
				<div id="htmlE12" ></div>
				<div
					id="htmlE2"
				></div>
			</div>
			<div class="htmlTop" style="top: 5%; border-bottom: 1px solid #d2d2d2;">
				<div
					id="htmlE3"
				></div>
				<div
					 id="htmlE34"
				>
					<div style="background: #e7eaed; width: 100%; height: 80%;"></div>
				</div>
				<div
					id="htmlE4"
				></div>
			</div>

			<div class="htmlBottom">
				<header>
					<img src="/imageComputer/temporary.jpeg" style="width: 20%;">
					로고
					<nav class="htmlNav">
						<ul>
							자기 소개
						</ul>
						<ul>
							포트폴리오
						</ul>
						<ul>
							프로젝트
						</ul>
						<ul>
							알고리즘
						</ul>
					</nav>
				</header>
				<section class="htmlRunner">
					<div>
						<div>
						여기는 이사진과 함께 글을 적어용
						</div>
						<div>
						여기는 이사진과 함께 글을 적어용
						</div>
						<div>
						여기는 이사진과 함께 글을 적어용
						</div>
						<div>
						여기는 이사진과 함께 글을 적어용
						</div>
						<div>
						여기는 이사진과 함께 글을 적어용
						</div>
						<div>
						여기는 이사진과 함께 글을 적어용
						</div>
					</div>
				</section>
				<section class="htmlBuckets">
					<div>123
										<img src="/imageComputer/temporary.jpeg" style="width: 30%;height:100px;">
</div>
					<div>234
										<img src="/imageComputer/temporary.jpeg" style="width: 30%;height:100px;">
</div>
					<div>345
										<img src="/imageComputer/temporary.jpeg" style="width: 30%;height:100px; ">
</div>
				</section>
				<section class="htmlMain">
					<article class="htmlContent">
						이것은 메인글을 체우기위한 복붙입니다.
						이것은 메인글을 체우기위한 복붙입니다.
						이것은 메인글을 체우기위한 복붙입니다.
						이것은 메인글을 체우기위한 복붙입니다.
						이것은 메인글을 체우기위한 복붙입니다.
						이것은 메인글을 체우기위한 복붙입니다.
						이것은 메인글을 체우기위한 복붙입니다.
						이것은 메인글을 체우기위한 복붙입니다.
						이것은 메인글을 체우기위한 복붙입니다.
					</article>
					<aside class="sidebar-left">
					왼쪽
					</aside>
					<aside class="sidebar-right">
					오른쪽
					</aside>
				</section>
				<footer>
					개발자 090이에용
				</footer>
			</div>
		</div>

		<div class="bird1" style="top: 13%; animation-duration: 5s;"></div>
		<div class="bird2" style="top: 11%; animation-duration: 4s;"></div>
		<div class="bird1" style="top: 9%; animation-duration: 6s;"></div>
		<div class="bird2" style="top: 7%; animation-duration: 7s;"></div>
		<div class="bird1" style="top: 5%; animation-duration: 8s;"></div>

		<div class="comLogo" onClick="location.href='/';">
			<div class="comMenu1">
				<img class="comImage" src="/imageComputer/room.png" />
			</div>
			<div class="comBackFont">
				room.html
			</div>
		</div>

		<div class="comLogo" onClick="location.href='/fairy';">
			<div class="comMenu2">
				<img class="comImage" src="/imageComputer/ani.png" />
			</div>
			<div class="comBackFont">
				ani.html
			</div>
		</div>
		<div class="comLogo" onClick="location.href='/food';">
			<div class="comMenu3">
				<img class="comImage" src="/imageComputer/food.png" />
			</div>
		</div>
		<div class="comLogo">
			<div class="comBackFont">
				food.html
			</div>
		</div>
		<div class="comLogo" onClick="location.href='/party';">
			<div class="comMenu4">
				<img class="comImage" src="/imageComputer/party.png" />
			</div>
			<div class="comBackFont">
				party.html
			</div>
		</div>
		<div class="comLogo">
			<div class="talk">
				<img class="comImage" src="/imageComputer/talk.png" />
			</div>

			<div class="comBackFont">
				090톡
			</div>
			<div class="talkContainer">
				<div class="talkTop"></div>
				<div class="talkMiddle"></div>
				<div class="talkBottom"></div>
			</div>
		</div>
		<div class="comLogo">
			<div class="html">
				<img class="comImage" src="/imageComputer/chrome.png" />
			</div>
			<div class="comBackFont">
				090.html
			</div>
		</div>
		<div class="comLogo" onClick="location.href='https://github.com/rnjsrnrdnjs';">
			<div class="github">
				<img class="comImage" src="/imageComputer/github.png" />
			</div>
			<div class="comBackFont">
				github
			</div>
		</div>
		<div class="comLogo">
			<div class="folder">
				<img class="comImage" src="/imageComputer/folder.png" />
			</div>
			<div class="comBackFont">
				folder
			</div>
			<div class="folderContainer"></div>
		</div>
		<div class="comLogo" onClick="location.href='https://090k.tistory.com/';">
			<div class="tistory">
				<img class="comImage" src="/imageComputer/tistory.png" />
			</div>
			<div class="comBackFont">
				블로그
			</div>
		</div>
		<div class="comLogo">
			<div class="cmd">
				<img class="comImage" src="/imageComputer/cmd.png" />
			</div>
			<div class="comBackFont">
				terminal
			</div>
			<div class="terminalContainer"></div>
		</div>
		<!--
			책출판, 만든프로그램 추가
		-->
	</div>
</div>
<div class="computerBottom"></div>

{% endblock %} {% block script %}
<script>
	window.removeEventListener('resize', onResize);
	const computer = document.getElementsByClassName('computer')[0];
	const comBackground = document.getElementsByClassName('comBackground')[0];
	const bird = document.getElementsByClassName('bird')[0];
	const comMenu1 = document.getElementsByClassName('comMenu1')[0];
	const comMenu2 = document.getElementsByClassName('comMenu2')[0];
	const comMenu3 = document.getElementsByClassName('comMenu3')[0];
	const comMenu4 = document.getElementsByClassName('comMenu4')[0];
	const talk = document.getElementsByClassName('talk')[0];
	const html = document.getElementsByClassName('html')[0];
	const github = document.getElementsByClassName('github')[0];
	const folder = document.getElementsByClassName('folder')[0];
	const tistory = document.getElementsByClassName('tistory')[0];
	const cmd = document.getElementsByClassName('cmd')[0];

	const htmlContainer = document.getElementsByClassName('htmlContainer')[0];
	html.addEventListener('click', (e) => {
		htmlContainer.style.display = 'flex';
	});
	const htmlClose=document.getElementById('htmlE2');
	htmlClose.addEventListener('click',(e)=>{
		htmlContainer.style.display = 'none';
	})
	//드래그 앤 드롭

	//소켓 프로그래밍

	//
</script>
{% endblock %}