{% extends 'index.html' %}
{% block content %}
<div class="ani">
	<audio id="audio">
		<source src="/imageFairyTale/bgm1.mp3" type="audio/mp3">
	</audio>
	<div class="phone">
		<div class="yourName">
			<div class="background">
			</div>
			<div class="Mitsuha">
				<img class="mCharacter"src="/imageFairyTale/m0.png" style="width: 100%;position:absolute;">
			</div>
			<div class="yourStory">
			</div>
			<div class="play">
				<div class="playFont">
					Start by touching
				</div>
			</div>
		</div>
	</div>
	<div class="hand">
	</div>
</div>
<!--
{% for m in imageAni %}
<div id="{{m}}"style="display:none;">123123
</div>
{% endfor %}
-->

<div style="display:none;">Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
<div style="display:none;">
	자전거타는 미츠하 제작자-https://mynowisgood.tistory.com/112
</div>
{% endblock %}
{% block script %}
<script>
	window.removeEventListener('resize', onResize);
	let img=[]
	function imageLoad(){
		for(let i=0;i<=26;i++){
			img[i]=new Image();
			img[i].src=`/imageFairyTale/m${i}.png`;
		}
	}
	imageLoad();
	const phone=document.getElementsByClassName('phone')[0];
	const hand=document.getElementsByClassName('hand')[0];
	
	const yourName=document.getElementsByClassName('yourName')[0];
	const yourStory=document.getElementsByClassName('yourStory')[0];

	const Py=window.pageYOffset,Px=window.pageXOffset;
	let namelocation=yourName.getBoundingClientRect();
	let storylocation=yourStory.getBoundingClientRect();
	let initStoryP=window.innerWidth>1024?phone.getBoundingClientRect().top+storylocation.top:Py+storylocation.right;
	console.log(storylocation);
	let moveStoryP=initStoryP;
	
	yourStory.style.display="none";
	
	
	const Mitsuha=document.getElementsByClassName('Mitsuha')[0];
	const Picture=document.getElementsByClassName('mCharacter')[0];
	const play=document.getElementsByClassName('play')[0];
	const audio=document.getElementById('audio');
	
	
	
	let yourAni;
	let MitsuhaCnt=0,storyCnt=0;
	let MitsuhaPicture=0;
	let mRight=0;
	let rightEndTOF=true;
	
	function MitsuhaMove(){
		if(MitsuhaCnt%60==0){
			if(rightEndTOF==false && MitsuhaCnt%180==0)rightEndTOF=true;
			else if(rightEndTOF==true) rightEndTOF=false;
		}
		if(rightEndTOF==true){
			mRight+=2;
		}
		else{
			mRight-=1;
		}
		if(MitsuhaCnt%5==0){
			MitsuhaPicture++;
		}
		if(MitsuhaPicture>26)MitsuhaPicture=0;
		Picture.src=img[MitsuhaPicture].src;
		Picture.style.right=`${mRight}px`;
	}
	
	
	const story=['s0.gif','s1.gif','ss0.gif','ss1.gif','ss2.gif','ss3.gif', 's2.gif','ss4.gif', 's3.gif','s4.gif','s5.gif','s6.gif','s7.gif','s8.gif','s9.gif','s10.gif','s11.gif','s12.png','s13.gif','s14.gif','a0.png','a1.png','a2.png','a3.png','a4.png','a5.png','a6.png','a7.png','a8.png','a9.png','a10.png','a11.png','a12.png'];
	let storyIndex=0;
	
	function storyMove(){
		namelocation=yourName.getBoundingClientRect();
		storylocation=yourStory.getBoundingClientRect();
		
		if(window.innerWidth>1024){
			if(Py+namelocation.bottom<Py+storylocation.bottom){
			   storyIndex++;storyIndex=storyIndex>=story.length?0:storyIndex;
				yourStory.style.background=`url(/imageFairyTale/${story[storyIndex]})`;
				yourStory.style.backgroundSize="100% 100%";
				yourStory.style.left=initStoryP+"px";
				moveStoryP=initStoryP;
			 }
			 else{
				 moveStoryP-=0.7;
			     yourStory.style.left=moveStoryP+"px";
			 }
		}
		else{
			if(Py+namelocation.top>Py+storylocation.top){
			   storyIndex++;storyIndex=storyIndex>=story.length?0:storyIndex;
				yourStory.style.background=`url(/imageFairyTale/${story[storyIndex]}) no-repeat`;
				yourStory.style.backgroundSize="100% 100%";
				yourStory.style.top=initStoryP+"px";
				moveStoryP=initStoryP;
			}
			else{
				moveStoryP--;
			    yourStory.style.top=moveStoryP+"px";
			}
		}
	}
	
	//초당 60번 실행함 
	function render(){
		MitsuhaCnt++,storyCnt++;
		MitsuhaMove();
		storyMove();
		yourAni=requestAnimationFrame(render);
	}
	
	
	phone.addEventListener('mousedown',()=>{
		yourAni=requestAnimationFrame(render);
		play.style.display="none";
		yourStory.style.display="";
	},false);
	phone.addEventListener('touchstart',()=>{
		yourAni=requestAnimationFrame(render);
		play.style.display="none";
		yourStory.style.display="";
		
	},false);
	
	phone.addEventListener('mouseup',()=>{
		cancelAnimationFrame(yourAni);
		play.style.display="";
		yourStory.style.display="none";

	},false);
	phone.addEventListener('touchend',()=>{
		cancelAnimationFrame(yourAni);
		play.style.display="";
		yourStory.style.display="none";

	},false);
	hand.addEventListener('mousedown',()=>{
		yourAni=requestAnimationFrame(render);
		play.style.display="none";
		yourStory.style.display="";
	
	},false);
	hand.addEventListener('touchstart',()=>{
		yourAni=requestAnimationFrame(render);
		play.style.display="none";
		yourStory.style.display="";

	},false);
	
	hand.addEventListener('mouseup',()=>{
		cancelAnimationFrame(yourAni);
		play.style.display="";
		yourStory.style.display="none";
	
	},false);
	hand.addEventListener('touchend',()=>{
		cancelAnimationFrame(yourAni);
		play.style.display="";
		yourStory.style.display="none";
	
	},false);
	
</script>
{% endblock %}