<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>090.js</title>
		<meta name="viewport" content="width=device-width,user-scalable=no" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<script type="text/javascript" src="/libs/three.js"></script>
		<script type="text/javascript" src="/libs/stats.js"></script>
		<script type="text/javascript" src="/libs/dat.gui.js"></script>
		<script type="text/javascript" src="../libs/Projector.js"></script>
		<script type="text/javascript" src="../libs/OrbitControls.js"></script>
		 <script type="text/javascript" src="../libs/TrackballControls.js"></script>
		
		
		<script type="text/javascript" src="/assets/fonts/helvetiker_regular.typeface.js"></script>
		<script type="text/javascript" src="/assets/fonts/helvetiker_bold.typeface.js"></script>
		<script
			type="text/javascript"
			src="/assets/fonts/bitstream_vera_sans_mono_roman.typeface.js"
		></script>

		<style>
			body {
				/* set margin to 0 and overflow to hidden, to
             use the complete page */
				margin: 0;
				overflow: hidden;
			}
		</style>
	</head>
	<body>
		{% block content %} {% endblock %}
		<!-- 프레임 확인-->

		<!-- Div which will hold the Output -->
		<div id="WebGL-output"></div>
		
		
		<!-- Javascript code that runs our Three.js examples -->
		<script type="text/javascript">
		
		</script>
	</body>
</html>