{% extends 'index.html' %} {% block content %}

<!--
<style type="text/css">
	#warning-message {
		display: none;
	}
	@media only screen and (orientation: portrait) {
		#wrapper {
			display: none;
		}
		#warning-message {
			display: block;
		}
	}
	@media only screen and (orientation: landscape) {
		#warning-message {
			display: none;
		}
	}
</style>
-->

<!--<div id="wrapper">-->
	<div class="PartyContainer">
		<div class="clubBoard">
			<div class="prevMusic">
			</div>
			<div class="playMusic">
			</div>
			<div class="nextMusic">
			</div>
		</div>
		
		<div class="dj">
		</div>	
		<div class="speakerLeft">
		</div>	
		<div class="booth">
		</div>	
		<div class="speakerRight">
		</div>	
		
		<div class="note1">
		</div>	
		<div class="note2">
		</div>	
		
		<div class="alcohol1">
			<div class="partyFont">
				Main Page
			</div>
		</div>	
		<div class="alcohol2">
			<div class="partyFont">
			Food Page
			</div>
		</div>	
		<div class="alcohol3">
			<div class="partyFont">
			Computer Page
			</div>
		</div>	
		<div class="alcohol4">
			<div class="partyFont">
			Ani Page
			</div>
		</div>	
	</div>
<!--</div>-->
<!--
<div
	id="warning-message"
	style="
		background: url(/imageParty/alcohol1.png);
		background-size: 100% 100%;
		width: 100vw;
		height: 100vh;
	"
>
	<div style="font-size: x-large; font-weight: bold;">
		<div>
			This page does not support portrait mode.
		</div>
		<div>
			(이 페이지는 세로모드를 지원하지 않습니다.)
		</div>
	</div>
</div>
-->
{% endblock %} {% block script %}


<script type="module">
	import * as THREE from '/build/three.module.js';
	import { RectAreaLightHelper } from '/jsm/helpers/RectAreaLightHelper.js';
	import { RectAreaLightUniformsLib } from '/jsm/lights/RectAreaLightUniformsLib.js';

	partyInit();
	function partyInit() {
		const stats = initStats();
		scene = new THREE.Scene();
		camera = new THREE.PerspectiveCamera(45, window.innerWidth / window.innerHeight, 0.1, 1000);
		camera.position.set(0, 5, -35);
		camera.lookAt(0, 0, 0);
		// renderer 에 알파값을 투명으로주고, 색상을 부여하지않음으로써 배경색을 투명하게 만들수있음
		renderer = new THREE.WebGLRenderer({
			alpha: true,
			antialias: true,
		});
		renderer.domElement.style.position = 'absolute';
		renderer.domElement.style.zIndex = 2;
		renderer.domElement.id = "party3D";

		renderer.setPixelRatio(window.devicePixelRatio);
		renderer.setSize(window.innerWidth, window.innerHeight);
		renderer.outputEncoding = THREE.sRGBEncoding;
		document.body.appendChild(renderer.domElement);

		if (window.innerWidth < window.innerHeight) {
			camera.aspect = window.innerHeight / window.innerWidth;
		}

		RectAreaLightUniformsLib.init();

		const lightRight = new THREE.RectAreaLight(0xff0000, 120, 10, 10);
		lightRight.position.set(-50, 15, 120);
		lightRight.lookAt(0, -30, 0);
		scene.add(lightRight);

		const lightCenter = new THREE.RectAreaLight(0x00ff00, 120, 10, 10);
		lightCenter.position.set(0, 20, 120);
		lightCenter.lookAt(0, -30, 0);
		scene.add(lightCenter);

		const lightLeft = new THREE.RectAreaLight(0x0000ff, 120, 10, 10);
		lightLeft.position.set(50, 15, 120);
		lightLeft.lookAt(0, -30, 0);
		scene.add(lightLeft);

		scene.add(new RectAreaLightHelper(lightRight));
		scene.add(new RectAreaLightHelper(lightCenter));
		scene.add(new RectAreaLightHelper(lightLeft));

		const geoFloor = new THREE.BoxGeometry(100, 0.1, 100);
		const matStdFloor = new THREE.MeshStandardMaterial({
			color: 0x808080,
			roughness: 0.1,
			metalness: 0,
		});
		const mshStdFloor = new THREE.Mesh(geoFloor, matStdFloor);
		mshStdFloor.position.set(0, -35, 0);
		scene.add(mshStdFloor);

		const discoBallF = createMeshNew(
			new THREE.SphereGeometry(7, 50, 50),
			'/imageParty/disco-ball1.png',
			0xff0000
		);
		discoBallF.position.set(-50, 15, 120);
		scene.add(discoBallF);

		const discoBallS = createMeshNew(
			new THREE.SphereGeometry(7, 32, 32),
			'/imageParty/disco-ball1.png',
			0x00ff00
		);
		discoBallS.position.set(0, 20, 120);
		scene.add(discoBallS);

		const discoBallT = createMeshNew(
			new THREE.SphereGeometry(7, 32, 32),
			'/imageParty/disco-ball1.png',
			0x0000ff
		);
		discoBallT.position.set(50, 15, 120);
		scene.add(discoBallT);

		const Fleg = new THREE.Mesh(
			new THREE.BoxGeometry(0.3, 80, 1),
			new THREE.MeshBasicMaterial({ color: 0xa7a7a7 })
		);
		Fleg.position.set(-50, 60, 120);
		scene.add(Fleg);

		const Sleg = new THREE.Mesh(
			new THREE.BoxGeometry(0.3, 80, 1),
			new THREE.MeshBasicMaterial({ color: 0xa7a7a7 })
		);
		Sleg.position.set(0, 65, 120);
		scene.add(Sleg);

		const Tleg = new THREE.Mesh(
			new THREE.BoxGeometry(0.3, 80, 1),
			new THREE.MeshBasicMaterial({ color: 0xa7a7a7 })
		);
		Tleg.position.set(50, 60, 120);
		scene.add(Tleg);
		let color16 = '#' + sixlength(parseInt(Math.random() * 0xffffff).toString(16));
		let Rcolor = 0,
			Gcolor = 0,
			Bcolor = 0;
		let stepx = 0,
			stepy = 0;
		let RGBstep = 0;
		function render(time) {
			stats.update();

			lightRight.position.x -= Math.cos(stepx);
			discoBallF.position.x -= Math.cos(stepx);
			discoBallF.rotation.y += 0.01;
			Fleg.position.x -= Math.cos(stepx);

			lightCenter.position.x += Math.cos(stepx);
			lightCenter.position.y -= Math.sin(stepy);
			discoBallS.position.x += Math.cos(stepx);
			discoBallS.position.y -= Math.sin(stepy);
			discoBallS.rotation.y += 0.02;
			Sleg.position.x += Math.cos(stepx);
			Sleg.position.y -= Math.sin(stepy);

			lightLeft.position.x -= Math.cos(stepx);
			discoBallT.position.x -= Math.cos(stepx);
			discoBallT.rotation.y += 0.01;
			Tleg.position.x -= Math.cos(stepx);

			stepx += 0.02;
			stepy += 0.07;
			RGBstep++;
			if (RGBstep % 70 == 0) {
				color16 = '#' + sixlength(parseInt(Math.random() * 0xffffff).toString(16));
				lightRight.color = new THREE.Color(`${color16}`);
				discoBallF.material.color = new THREE.Color(`${color16}`);
				color16 = '#' + sixlength(parseInt(Math.random() * 0xffffff).toString(16));
				lightCenter.color= new THREE.Color(`${color16}`);
				discoBallS.material.color = new THREE.Color(`${color16}`);

				color16 = '#' + sixlength(parseInt(Math.random() * 0xffffff).toString(16));
				lightLeft.color = new THREE.Color(`${color16}`);
				discoBallT.material.color = new THREE.Color(`${color16}`);
				RGBstep = 0;
			}
			requestAnimationFrame(render); //? 위치 바꿔야하나
			renderer.render(scene, camera);
		}

		let PartyAni = requestAnimationFrame(render);

		function sixlength(number) {
			var result = number;
			while (result.length < 6) {
				result += '0';
			}
			return result;
		}

		function createMeshNew(geom, imageFile, color, bump) {
			const texture = new THREE.TextureLoader().load(imageFile);
			geom.computeVertexNormals();
			const mat = new THREE.MeshBasicMaterial({
				map: texture,
				color: color,
			});
			// create a multimaterial
			const mesh = new THREE.Mesh(geom, mat);
			return mesh;
		}
	}
	const main=document.getElementsByClassName('alcohol1')[0];
	const food=document.getElementsByClassName('alcohol2')[0];
	const com=document.getElementsByClassName('alcohol3')[0];
	const ani=document.getElementsByClassName('alcohol4')[0];
	
	
	const party3D=document.getElementById('party3D');
	party3D.addEventListener('click',(e)=>{
		const x=e.clientX,y=e.clientY;
		const mainlocation=main.getBoundingClientRect();
		const foodlocation=food.getBoundingClientRect();
		const comlocation=com.getBoundingClientRect();
		const anilocation=ani.getBoundingClientRect();
		const Py=window.pageYOffset,Px=window.pageXOffset;
		
		if(Py+mainlocation.top<=y && y<=Py+mainlocation.bottom && Px+mainlocation.left<=x && x<=Px+mainlocation.right){
			main.style.transition="1s";
			main.style.transform="scale(1.4) translateY(-5vw)";
			setTimeout(()=>{
				location.href="/";
			},1200);
		}
		else if(Py+foodlocation.top<=y && y<=Py+foodlocation.bottom && Px+foodlocation.left<=x && x<=Px+foodlocation.right){
			food.style.transition="1s";
			food.style.transform="scale(1.4) translateY(-5vw)";
			setTimeout(()=>{
				location.href="/food";
			},1200);
		}
		else if(Py+comlocation.top<=y && y<=Py+comlocation.bottom && Px+comlocation.left<=x && x<=Px+comlocation.right){
			com.style.transition="1s";
			com.style.transform="scale(1.4) translateY(-5vw)";
			setTimeout(()=>{
				location.href="/computer";
			},1200);
		}
		else if(Py+anilocation.top<=y && y<=Py+anilocation.bottom && Px+anilocation.left<=x && x<=Px+anilocation.right){
			ani.style.transition="1s";
			ani.style.transform="scale(1.4) translateY(-5vw)";
			setTimeout(()=>{
				location.href="/fairy";
			},1200);
		}
	},false);
</script>
{% endblock %}