/* food */
.foodContainer{
	margin:0;
	overflow:hidden;
	width:100vw;
	height:100vh;
	background:url(/imageFood/background.png) no-repeat;
	background-size:cover;
}
.plate{
	width: 100%;
    height: 100%;
    background:url(/imageFood/plate.svg) no-repeat; 
    background-position: center;
    background-size: 65% 65%;
	animation-name:plate;
	animation-duration:1s;
}
.plateRound{
	position: absolute;
    width: 100%;
	height:30%;
    top: 30%;
}
.plateLeft{
	z-index:1;
	position: absolute;
    width: 10%;
    height: 100%;
    background: url(/imageFood/fork.svg) no-repeat;
    background-size: 100% 100%;
    left: 12%;
	animation-name:prevImg;
	animation-duration:2s;
}
.plateRight{
	z-index:1;
	position: absolute;
    width: 10%;
    height: 100%;
    background: url(/imageFood/knife.svg) no-repeat;
    left: 79%;
    background-size: 100% 100%;
	animation-name:nextImg;
	animation-duration:2s;
}


@media screen and (max-width:1200px){
	.plate{
   		 background-position: center;
  	 	 background-size: 80% 80%;
		animation-name:plate2;
	}
	
}
@media screen and (max-width:1024px){
	.plateLeft{
		left: 2%;
	}
	.plateRight{
		left: 88%;
	}
}
@keyframes plate{
	33%{
	    background-size:  21% 21%;
	}
	66%{
	    background-size:  43% 43%;
	}
	100%{
	    background-size: 65% 65%;
	}
}
@keyframes plate2{
	33%{
	     background-size: 26% 26%;
	}
	66%{
	     background-size: 52% 52%;
	}
	100%{
	     background-size:  80% 80%;
	}
}

@keyframes prevImg{
	20%{
		transform:skewX(30deg) skewY(30deg) rotate(90deg);
	}
	40%{
		transform:skewX(30deg) skewY(30deg) rotate(90deg);
		left:35%;
	}
	80%{
		transform:skewX(30deg) skewY(30deg) rotate(90deg);
		left:100%;
	}
}
@keyframes nextImg{
	20%{
		transform:skewX(-30deg) skewY(-30deg) rotate(-90deg);
	}
	40%{
		transform:skewX(-30deg) skewY(-30deg) rotate(-90deg);
		left:60%;
	}
	80%{
		transform:skewX(-30deg) skewY(-30deg) rotate(-90deg);
		left:0%;
	}
}

.thumbnail{
	 list-style:none;
	max-width:80%;
	padding:10px;
	margin:0 auto;
	border:1px solid #ccc;
	background:#323232	;
	border-radius:10px;
	box-shadow:0 0 2px rgba(0,0,0,.5);
}
.thumbnail:after{
	content:"";
	display:block;
	clear:both;
}
.thumbnail li{
	float:left;
	width:18%;
	margin:1%;
}
.thumbnail li > a img{
	max-width:100%;
	height: 15vh;
	width: 100%;
	box-shadow:0 0 5px rgba(0,0,0,.3);
	transition:.5s;
}

.thumbnail li > a{
	float:left;
	transition:.5s;
	position:relative;
}
.thumbnail li > a:hover{
	z-index:1;
}
.thumbnail li > a:hover img{
	transform:scale(1.8);
	box-shadow:0 0 15px rgba(0,0,0,.8);
}
.thumbnail article{
	width:0;
	height:0;
	overflow:hidden;
	position:absolute;
	top:0;
	left:0;
}
.thumbnail article img{
	margin-top:10vh;
	text-align:center;
	max-width: 100%;
	max-height: 80vh;
	box-sizing:border-box;
	border:10px solid #fff;
	box-shadow:0 0 20px rgba(0,0,0,.5);
	opacity:0;
	transition:.7s;
}
.thumbnail article:target{
	width:100%;
	height:100%;
	text-align:center;
	background:rgba(0,0,0,.8);
	z-index:1;
	color:white;
	font-size:1.2rem;
}
.thumbnail article:target img{
	opacity:1;
}
article .close{
	text-decoration:none;
	color:black;
	background:#fff;
	position:absolute;
	top:5vh;
	left:50%;
	margin-left:-50px;
	width:100px;
	padding:6px 6px 6px 25px;
	box-sizing:border-box;
	border-radius:15px;
	transition:.5s;
}
article .close:before{
	color:white;
	content:"X";
	position:absolute;
	font-size:1.2rem;
	top:3px;
	left:5px;
	margin-top: 4px;
	width:24px;
	height:24px;
	border-radius:50%;
	background:#EBAA5F;
}
#allFood{
	transition:1s;
	cursor:pointer;
	position: absolute;
    top: 5%;
    left: 80vw;
    font-size: 1.2rem;
    background-color: #323232;
    border-radius: 10px;
    border: 1px solid white;
    width: 120px;
}
@media screen and (max-width:1200px){
	#allFood{
		left:62vw;
	}	
}
.menu{
	cursor:pointer;
	position:absolute;
	width:80px;
	height:80px;
	background:url(/imageFood/menu.png) no-repeat;
	background-size:cover;
	top:5%;
	left:5%;
}
.headline{
    background: url(/imageFood/headline.png) no-repeat;
    background-size: 100% 100%;
	display: inline-block;
    height: 180px;
    width: 145px;
	animation-name:wobble;
	animation-duration:4s;
}
@media screen and (max-width:1200px){
	.headline{
	    height: 150px;
	    width: 120px;
	}	
}
.foodFont{
	color: white;
    margin-top: 95%;
    background: firebrick;
    font-size: 1.2rem;
    border-radius: 10px;
}

@keyframes wobble{
	15%{
		transform:translateX(-25%) rotate(5deg);
	}
	30%{
		transform:translateX(20%) rotate(-3deg);
	}
	45%{
		transform:translateX(-15%) rotate(3deg);
	}
	60%{
		transform:translateX(10%) rotate(-2deg);
	}
	75%{
		transform:translateX(-5%) rotate(1deg);
	}
}
.choose{
	position:absolute;
	width:100%;
	top:68%;
	color:darkblue;
}
#foodPrev{
	cursor:pointer;
	float: left;
   	margin-left:14%;
	border-radius: 10px;
	padding:1%;
    background: linear-gradient(
0.25turn
, #FF0000, #ebf8e1, #282828);
}
#foodNext{
	cursor:pointer;
	margin-right:14%;
   	float: right;
	padding:1%;
	border-radius: 10px;
    background: linear-gradient(
0.25turn
, #FF0000, #ebf8e1, #282828);
}
.foodImg{
	width: 100%;
    position: absolute;
	top: 30%;
	height: 40%;
	max-height:90%;
	margin:0 auto;
}

.foodImgCenter{
	background: url(/imageFood/F0.jpg) no-repeat;
    background-size: 100% 100%;
	width: 30%;
    height: 100%;
    display: inline-block;
	border-radius: 10px;
	cursor:pointer;
}
.foodImgCenter:hover{
	
}
.foodImgCenterRight{
	animation-name:imgRightCenter;
	animation-duration:2s;
}
.foodImgCenterLeft{
	animation-name:imgLeftCenter;
	animation-duration:2s;
}

.foodImgLeft{
	background: url(/imageFood/F24.jpg) no-repeat;
	display: none;
    background-size: 100% 100%;
    width: 30%;
    height: 100%;
    left: -50%;
    border-radius: 10px;
    position: absolute;
	animation-name:imgRight;
	animation-duration:2s;
}
.foodImgRight{
	background: url(/imageFood/F1.jpg) no-repeat;
	display: none;
    background-size: 100% 100%;
    width: 30%;
    height: 100%;
    right: -50%;
    border-radius: 10px;
    position: absolute;
	animation-name:imgLeft;
	animation-duration:2s;
}
@keyframes imgRight{
	40%{
		left:-20%;
	}
	80%{
		left:35%;
	}
	100%{
		left:30%;
	}
}
@keyframes imgRightCenter{
	0%{
		left:20%;
	}
	45%{
		left:30%;
	}
	80%{
		left:100%;
	}
	100%{
		left:110%;
	}
}
@keyframes imgLeft{
	40%{
		right:-20%;
	}
	80%{
		right:35%;
	}
	100%{
		right:30%;
	}
}
@keyframes imgLeftCenter{
	0%{
		right:20%;
	}
	45%{
		right:30%;
	}
	80%{
		right:100%;
	}
	100%{
		right:110%;
	}
}

@media screen and (max-width:1024px){
	.choose{
		top:63%;
	}	
	#foodPrev{
		float: left;
   		margin-left: 2%;
	}
	#foodNext{
		margin-right: 2%;
   		float: right;
	}
	.foodImg{
	    top: 35%;
	    height: 30%;
	}
	.foodImgCenter{
	    width: 45%;
	}
	.foodImgLeft{
		width: 45%;
	}
	.foodImgRight{
		width: 45%;
	}
}

/* party */





