<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>090.html</title>
		<meta name="viewport" content="width=device-width,user-scalable=no" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<link rel="stylesheet" href="/main.css" />

		<script type="text/javascript" src="../libs/three.js"></script>
		<script type="text/javascript" src="/libs/stats.js"></script>
		<script type="text/javascript" src="/libs/dat.gui.js"></script>
		<script type="text/javascript" src="/libs/Projector.js"></script>
		<script type="text/javascript" src="/libs/OrbitControls.js"></script>
		<script type="text/javascript" src="/libs/TrackballControls.js"></script>
		<!--
		<script type="text/javascript" src="/jsm/helpers/RectAreaLightHelper.js"></script>
		<script type="text/javascript" src="/jsm/lights/RectAreaLightUniformsLib.js"></script>
		-->
		
		
		<script type="text/javascript" src="/libs/d3-threeD.js"></script>
		<script type="text/javascript" src="/assets/fonts/helvetiker_regular.typeface.js"></script>
		<script type="text/javascript" src="/assets/fonts/helvetiker_bold.typeface.js"></script>
		<script
			type="text/javascript"
			src="/assets/fonts/bitstream_vera_sans_mono_roman.typeface.js"
		></script>
		
		

		<style>
			body {
				/* set margin to 0 and overflow to hidden, to
             use the complete page */
				margin: 0;
				overflow: hidden;
			}
		</style>
	</head>
	<body>
		<!-- 프레임 확인-->

		<div id="Stats-output"></div>

		<!-- Div which will hold the Output -->
		<div id="WebGL-output"></div>

		{% block content %} {% endblock %}

		<!-- Javascript code that runs our Three.js examples -->
		<script>
			history.pushState(null, null, location.href);

			let camera, scene, renderer;
			let roomAni;
			function initStats() {
				const stats = new Stats();
				stats.setMode(0); // 0: fps, 1: ms
				// Align top-left
				stats.domElement.style.position = 'absolute';
				stats.domElement.style.left = '0px';
				stats.domElement.style.top = '0px';
				document.getElementById('Stats-output').appendChild(stats.domElement);
				return stats;
			}
			function onResize() {
				camera.aspect = window.innerWidth / window.innerHeight;
				camera.updateProjectionMatrix();
				renderer.setSize(window.innerWidth, window.innerHeight);
			}

			window.addEventListener('resize', onResize, false);

			//책을 기준으로 옛날버전에만 사용가능한 함수
			function createMesh(geom, imageFile, color, bump) {
				const texture = THREE.ImageUtils.loadTexture(imageFile);
				geom.computeVertexNormals();
				const mat = new THREE.MeshPhongMaterial();
				mat.map = texture;
				if (color) {
					mat.color = color;
				}
				if (bump) {
					const bump2 = THREE.ImageUtils.loadTexture(bump);
					mat.bumpMap = bump2;
					mat.bumpScale = 1;
				}

				// create a multimaterial
				const mesh = new THREE.Mesh(geom, mat);

				return mesh;
			}
			
			function drawShape(query) {
				const svgString = document.querySelector(`#${query}`).getAttribute("d");
				const shape = transformSVGPathExposed(svgString);
				return shape;
			}
			function createSVGMesh(geom) {
				geom.applyMatrix(new THREE.Matrix4().makeTranslation(-390, -74, 0));

				// assign two materials
				var meshMaterial = new THREE.MeshPhongMaterial({
					color: 0x333333,
					shininess: 100,
					metal: true,
				});
				var mesh = new THREE.Mesh(geom, meshMaterial);
				mesh.scale.x = 0.1;
				mesh.scale.y = 0.1;

				mesh.rotation.z = Math.PI;
				mesh.rotation.x = -1.1;
				return mesh;
			}
		</script>
		{% block script %} {% endblock %}
	</body>
</html>